@page "/edit_screen"
@inject NavigationManager nm 

<PageTitle> Edition Screen</PageTitle>
<div class="edition-screen">
<div class="form-group col-auto p-5 text-center main-container" width="30vw">
    Nombre de la partida:
    <input class="form-control" type="text" @bind="game_name">
    Tipo de Mesa
    <select  class="form-control" id="board" @bind="table_type">                                                                                                    
    <option >Normal</option>   
    <option>multiplo de 5</option>   
    <option>Mesa de cartas</option>   
 <option>Longana</option>   
    </select>
    Pasador de turno
    <select class="form-control"id="player_selector" @bind="playerselector">                                                                                                 
    <option>Ordenado</option>   
    <option>Aleatorio</option> 
    <option>Turnos juego de Cartas</option>  
    </select>
    Condicion de Ganar    
    <select class="form-control" id="win_condition" @bind="wincondition">                                                                                                 
    <option >Normal</option>   
    <option>multiplo de 5</option>   
    <option>Shangai</option>   
    <option>Robaito</option>   
    </select>
    Tipo Fichas
    <select class="form-control" id="keyset" @bind="keyset">                                                                                                 
    <option>Doble 9</option>   
    <option>Doble 6</option>   
    <option>Fichas de colores</option>   
    <option>Cartas</option>   
    <option>Aleatorio</option>   
    </select>   

    <button @onclick="SetPlayers" class="btn btn-outline-success my-2 my-sm-0">iniciarJuego</button>
    <button @onclick="SaveData"  class="btn btn-outline-success my-2 my-sm-0">Guardar Partida</button>
    </div>
    <div class="form-group col-auto p-5 text-center main-container">
        <h3>Descripcion: </h3>
        @foreach (var item in GetGameInfo.Split('\n'))
        {
            <h5>@item</h5>
        }
    </div>
</div>

@code
{
public int cant_jugadores{get;set;}
public string inputValue{get{return cant_jugadores.ToString();}
set{cant_jugadores=int.Parse(value);}}

public string game_name{get;set;}
public string table_type{get;set;}
public string wincondition{get;set;}
public string playerselector{get;set;}
public string keyset{get;set;}


public string GetGameInfo{
get{
        string[] data = new string[6];
        data[0]=game_name;
        data[1]=keyset;
        data[2]=table_type;
        data[3]=wincondition;
        data[4]=playerselector;
        var cf = new ConfigFile(data);
   var b = new GameBuilder(cf);

   string result="";
   result+="tipo de mesa: "+b.game_board.Name+"\n";
   result+=b.game_board.Description+"\n";
   result+="seleccion del ganador: "+b.win_condition.Name+"\n";
   result+=b.win_condition.Description+"\n";
   result+="pasador de turno: "+b.player_selector.Name+"\n";
   result+=b.player_selector.Description+"\n";
   result+="tipo de ficha: "+b.keyset.Name+"\n";
   result+=b.keyset.Description+"\n";

   return result;
 
   }
   }


public void SetPlayers()
{
        string[] data = new string[6];
        data[0]=game_name;
        data[1]=keyset;
        data[2]=table_type;
        data[3]=wincondition;
        data[4]=playerselector;
        Data_Saver.game_data=data;

        nm.NavigateTo("fetchdata");
}

public void SaveData()
{
        string[] data = new string[6];
        data[0]=game_name;
        data[1]=keyset;
        data[2]=table_type;
        data[3]=wincondition;
        data[4]=playerselector;
        data[5]="b";
        var game_data= new ConfigFile(data);
        game_data.SaveData();

}

        protected override void OnInitialized()
        {
        game_name="custom_game";
        table_type="Normal";
        wincondition="Normal";
        playerselector="Ordenado";
        keyset="Doble 9";
        }
}
