@page "/"

<PageTitle>Inicial</PageTitle>

<div class="mainframe col-auto p-9 text-center main-container">    
<h1>Domino</h1>


<a href="/edit_screen" class=""><button class="btn btn-primary"> Editar Partida </button></a>
<a href="/savedGames"><button class="btn btn-primary"> Juegos Guardados </button></a>
</div>

