
.player_container{
  display: inline-flex;
  z-index: 100;
}


.fixed{
  position: fixed;
}

#center
{
  width: auto;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
#board_1
{ 


  top:41%;
  left: 5.9%;
  transform: translate(-50%,-50%);
  align-items:flex-end;
  transform: rotate(180deg);
}

#board_2
{
  top:50%;  
  left: 74%;
  transform: translate(-50%,-50%);  
  align-items:flex-start;
  justify-content: left;
}

#board_3
{
  top:-6%;
  left: 32%;
  transform: translate(-50%,-50%);
  align-items:flex-start;
  transform: rotate(-90deg);
}
#board_4
{
  top:85%;
  left: 29%;
  transform: translate(-50%,-50%);
  align-items:flex-start;
  transform: rotate(90deg);
}

#board_5
{
  top:70%;
  left: 11%;
  transform: translate(-50%,-50%);
  align-items:flex-start;
  transform: rotate(140deg);
}
#board_6
{
  top:5%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items:flex-start;
  transform: rotate(-45deg);
}

.top-row[b-dd5ekcz9mg]
{
  display:none;
}

.toast{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index:100;
}

.sidebar
{
  display:none;
}

.board
{
  width: 40vw;
  height:100px;  
  display:flex;
  flex-direction:row;    
  overflow-x: scroll;
  overflow-y: hidden;
}


.board_container
{ 

}

.board_container::nth-child(1)
{
}
.board_container::nth-child(2)
{

}
.board_container::nth-child(3)
{

}




.onboardKey{
    width:100px;
  display:flex;
  flex-direction:row;    
    height:50px;
    box-shadow:10px 7px 10px BLACK;
    margin:3px;
        }

.card-img{
    object-fit:cover;
      width:50px;
      height:50px;
      }


#player_keys
{
    display:flex;
    flex-direction:row;
}
  .player_key
  {
    width:30px;
    height:60px;
    margin-left:5px;
      margin-bottom:59px;
  }

  .player_key img
  {
    width:30px;
    height:30px;
  }

  .backgorund_player
  {
    margin:20px;
    display:flex;
      flex-direction:row;
  }

  .bg_player_name
  {
    margin:10px;
  }

  .bg_player_key{
    width:30px;
      height:15px;      
  }

  .bg_player_key img
  {
    width:15px;
      height:15px;
        display:flex;
          direction:column;
  }

